<!DOCTYPE html>
<html ng-app="theStandApp">
<head>
  <title>Stadium App</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <script src="/node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script src="../js/memory_controller"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body style="color:white">
     <nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/stadiums">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parks_visited">Parks Visited</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    <h2  id="title" style="color:white;  font-size: 17px; float:right; margin-right:5%; font-family: 'Fugaz One', cursive; head">The Stand</h2>
  </nav>


    <div id="landing">
      <div id="overlay">
      <h1 style="padding-top:8%; padding-left:5%; font-family: 'Fugaz One'; font-size:50px;" class="noOpacity"> <%= stadium.name %> <button type="button" method="post" class="btn btn-info addBtn" style="float:right; margin-right:5%;">Add to Parks Visited</button>
     </h1>
      <p style="padding-left:8%; padding-top:1%; font-family: 'Fugaz One' "> home of the </p>
      <h2 style="padding-left:5%; font-family: 'Fugaz One'"><%=stadium.homeOf%></h2>
      <div id="images" style="margin-left:6%;">
        <img src="<%=stadium.imageURL%>" width="400" height="200"/>
        <img src="<%=stadium.imageURL2%>" width="400" height="200"/>
      </div>
      <div class="overview" style="padding:5%">
        <h3>Overview</h3>
        <hr>
        <h4>History</h4>
        <p><%=stadium.overview.history%></p>
        <h4 style="padding-top:1%">Soak Up The Scene</h4>
        <p><%=stadium.overview.soakUpTheScene%></p>
      </div>
      <div class="stats" style="padding-left:5%; padding-right:5%; padding-bottom:8%">
        <h3>Stadium Facts</h3>
        <hr>
        <p>League: <%=stadium.league%></p>
        <p>Location: <%=stadium.location%></p>
        <p>Seating Capacity: <%=stadium.statistics.seatingCap%></p>
        <p>Playing Surface: <%=stadium.statistics.playingSurface%></p>
        <p>Opened in: <%=stadium.statistics.opened%></p>
        <p>Distance to center: <%=stadium.statistics.distanceToCenter%></p>
        <p>Average Attendance: <%=stadium.statistics.avgAttend%></p>
        <p>Typology: <%=stadium.statistics.typology%></p>
      </div>
      <div class="seating" style="padding-left:5%; padding-right:5%; padding-bottom:8%">
        <h3>Seating</h3>
        <hr>
        <h4>General</h4>
        <p><%=stadium.seating.general%><img src="<%=stadium.seating.imageURL%>" width="300" height="180" style="float:right; margin:10%; display:inline"></p>



    </div>

  </div>
</body>
